# --- IDE ---
.idea/

# --- Environnements virtuels ---
.venv*/
venv/

# --- Python cache / outils ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.ipynb_checkpoints/

# --- Données locales (datasets, résultats d'expériences, etc.) ---
data/
