# Core dependencies for demos
python-dotenv>=1.1.0
rich>=14.0.0  # For nice terminal output in verify script
anthropic>=0.5.0 # for some demos
faiss-cpu>=1.7.0 # for the FAISS demo
seaborn>=0.13.0 # for the graphing demo
fair-llm>=0.1 # fair package
pytest>=8.0.0
torch~=2.5.1+cu121
ultralytics~=8.3.231
pyyaml~=6.0.3
torchvision~=0.20.1+cu121
pillow~=11.3.0
numpy~=2.2.6
tqdm~=4.67.1